
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">PicDrop</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if session.isAuthenticated }}
        <a href="http://127.0.0.1:3000/users/auth/facebook" class="btn">Facebook</a>
        <a href="http://127.0.0.1:3000/users/auth/flickr" class="btn">Flickr</a>
        <button class='btn' id='logout' {{action 'invalidateSession'}}>Logout</button>
        {{else}}
          <li>{{#link-to 'login' class='btn' id='loginButton'}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </nav>
</div>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
