
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">PicDrop</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if session.isAuthenticated}}
             {{#link-to 'logout'}}Logout{{/link-to}}
        {{else}}
              {{#link-to 'login'}}login{{/link-to}}
        {{/if}}
      </ul>
    </div>
  </nav>
</div>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
