<div class='container'>
  <div class='row'>
    <div class='col m6'>
      <div class="card blue-grey darken-1">
        <form {{action 'authenticate' on='submit'}}>
          <div class="card-content white-text">
           <span class="card-title"> <h3>Login</h3></span>
           {{input value=identification id='identification' placeholder='Enter Email'}}
           {{input value=password id='password' placeholder='Enter Password' type='password'}}
          </div>
          <div class="card-action">
            <button class='btn' type="submit">Login</button>
            {{#link-to 'register' }}Sign up{{/link-to}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
