<h3>Login Route</h3>
<button {{action 'facebookLogin'}}>Login with Facebook</button>
<button {{action 'signInViaTwitter'}}>Login via Twitter</button>
<button {{action 'flickrLogin'}}>Login to Flickr</button>  
