<div class='container'>
  <div class='row'>
    <div class='col m6'>
      <div class="card blue-grey darken-1">
        <form {{action 'registerUser' on='submit'}}>
          <div class="card-content white-text">
           <span class="card-title"> <h3>Register</h3></span>
           {{input id='email' value=email placeholder='Enter Email'}}
           {{input id='password' value=password placeholder='Enter Password' type='password'}}
           {{input id='password_confirmation' value=password_confirmation placeholder='Enter Password confirmation' type='password'}}
          </div>
          <div class="card-action">
            <button  id='signup' class='btn' type="submit">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
